__pycache__/
*.py[cod]
*.egg-info/

.venv/

dist/
build/
dev/

Tests_Files/
resources/


*.log

# Sphinx build output
docs/_build/
docs/build/

# Sphinx cache
docs/.doctrees/

# OS / IDE
.DS_Store
.vscode/
